<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">

</th:block>
<div layout:fragment="content">

    <div class="d-flex2">
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5" th:each="CH, status: ${Kpop}">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center ">
                    <div class="col mb-1">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-left" th:src="${CH.AlbumImg}" alt="..."/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h6 class="fw-bolder" th:text="${CH.Rank}"></h6>

                                    <h5 class="fw-bolder" th:text="${CH.SongName}"></h5>

                                    <h4 th:text="${CH.Artist}"></h4>

                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">노래 듣기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5" th:each="P, status: ${pop}">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center ">
                    <div class="col mb-1">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-left" th:src="${P.AlbumImg}" alt="..."/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h6 class="fw-bolder" th:text="${P.Rank}"></h6>

                                    <h5 class="fw-bolder" th:text="${P.SongName}"></h5>

                                    <h4 th:text="${P.Artist}"></h4>

                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">노래 듣기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</html>
