<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- 타임리프 문법을 사용하기 위해 추가 -->


<div th:fragment="header">

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">No Chu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="#!">게시판</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">추천</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">랜덤추천</a></li>
                            <li><a class="dropdown-item" href="#!">장르별 추천</a></li>
                            <li><a class="dropdown-item" href="#!">시대별 추천</a></li>
                            <li><a class="dropdown-item" href="#!">먹을거 추천</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">

        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Email address input-->
                        <div class="row">
                            <div class="col">
                                <input class="form-control form-control-lg" type="text">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary" type="submit">검색</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>

        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">노래추천</h1>
                <p class="lead fw-normal text-white-50 mb-0">많이 기대해주시길 바랍니다.</p>
            </div>
        </div>
    </header>
</div>
</html>